<%= simple_form_for user, url: session_path do |f| %>

  <%= f.input :username, placeholder: "Username" %>
  <%= f.input :password, placeholder: "Password" %>

  <div></div>

  <%= f.button :submit, "Submit" %>

<% end %>