<div class="h-screen flex items-center justify-center">
  <div class="h-72 w-full mx-6">
    <div class="text-center space-y-6">
      <div class="space-y-1">
        <p class="text-2xl">Log In</p>
      </div>
      <!--a href="#" class="text-sm text-sky-500 underline">add first account</a-->
      <div class="space-y-2">
        <div class="flex flex-col items-start space-y-1 text-sm">
          <input type="text" name="usernmae" id="usernmae" placeholder="Username" class="w-full border border-neutral-700 rounded-xl bg-neutral-950 py-3 px-3 text-sm">
        </div>
        <div class="flex flex-col items-start space-y-1 text-sm">
          <input type="text" name="password" id="password" placeholder="Password" class="w-full border border-red-700 rounded-xl bg-neutral-950 py-3 px-3 text-sm">
          <span class="text-red-700 text-xs ml-3">wrong password</span>
        </div>
      </div>
      <div class="space-y-2">
        <!-- Primary button -->
        <a href="#" class="bg-neutral-200 block py-3 px-6 rounded-full text-sm font-medium text-neutral-800">Login</a>
        <!-- divider -->
        <div class="flex px-3 items-center">
          <div class="border-b flex-grow border-neutral-700"></div>
          <span class="text-neutral-500 px-2">or</span>
          <div class="border-b flex-grow border-neutral-700"></div>
        </div>
        <!-- Secondary button -->
        <a href="#" class="bg-neutral-900 block py-3 px-6 rounded-full text-sm text-neutral-400">Register</a>
      </div>
    </div>
  </div>
</div>