<div class="flex justify-end py-4" data-controller="menu">
  <button data-action="click->menu#show">
    <i class="fa-solid fa-bars text-xl"></i>
  </button>
  <div 
    class="fixed left-0 top-0 z-50 w-screen h-screen bg-white px-6 pt-4 hidden"
    data-menu-target="content"
  >
    <div class="flex justify-end">
      <button data-action="click->menu#hide">
        <i class="fa-solid fa-xmark text-2xl text-black/60"></i>
      </button>
    </div>
    <ul class="mx-8">
      <li class="text-center py-2">
        <%= component "nav", root_path, "Home" %>
      </li class="mx-8">
      <li class="text-center py-2">
        <%= component "nav", messages_path, "Messages" %>
      </li class="mx-8">
      <li class="text-center py-2">
        <%= link_to "Log Out", session_path, data: { turbo_method: :delete } %>
      </li>
    </ul>
  </div>
</div>
