<div class="flex-grow flex items-center justify-center">
  <div class="w-full mx-6">
    <div class="text-center space-y-6">
      <div class="space-y-1">
        <p class="text-2xl">No ramzess (accounts)</p>
        <p class="text-sm text-neutral-500">add your first account right now Ramen (Roma Z)</p>
      </div>
      <%= component "divider" %>
      <div class="space-y-2">
        <%= component "button", new_account_path, "Add" %>
        <%= component "button", "#", "Exit", variant: "secondary" %>
      </div>
    </div>
  </div>
</div>