<%= turbo_frame_tag "spam_form" do %>
  <div data-controller="dropdown">
    <%= simple_form_for spam, url: spams_path do |f| %>
      <div 
        class="bg-blue-500 text-white px-4 py-2 rounded-lg" 
        data-action="click->dropdown#open">
        Select Message
      </div>
      <%= render partial: "spams/dropdown", locals: { messages: messages, f: f } %>
      <%= render partial: "spams/button", locals: { spam: spam } %>
    <% end %>
  </div>
<% end %>
