<%= turbo_frame_tag "spam_#{spam.id}_status" do %>
  <div class="flex relative h-screen">
    <div class="absolute left-1/2 top-1/3 -translate-x-1/2">
      <%= tag.div class: "w-32 h-32 ring-2 #{spam.status == 'pending' ? 'ring-yellow-500' : 'ring-green-500'} rounded-full flex items-center justify-center" do %>
        <% tag.span spam.status, class: "font-semibold" %>
      <% end %>
    </div>
  </div>
<% end %>